<div class="container">
<div class="row">
<div class="col-6">
<h1>Editar Propiedad</h1>
<br>

<%= render 'form', property: @property %>


<%= link_to 'Mostrar', @property %> |
<%= link_to 'Volver', properties_path %>

</div>
</div>
</div>
